@use "./index" as *;

.bp {
  &__deploy-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(60) 0;
    svg {
      max-width: rem(200);
      fill: var(--bp_primary);
      margin-bottom: rem(30);
    }
    h2 {
      margin-bottom: rem(5);
    }
    p {
      margin-bottom: rem(20);
    }
  }
}
