// ------------------------------------
// Background colours
// ------------------------------------
$colours: (
  _error: red,
  _success: green,
  _warning: orange,

  _01_01: #0f0f0f,
  // primary
  _01_02: #1d1d1d,
  // primary hover
  _01_03: #ffffff,

  // primary colour
  _02_01: #6319ec,
  // secondary
  _02_02: #5f1dd8,
  // secondary hover
  _02_03: #ffffff,

  // secondary colour
  _03_01: #121316,

  // tertiary
);

// Light mode
:root {
  --bp_error: #{map-get($colours, _error)};
  --bp_success: #{map-get($colours, _success)};
  --bp_warning: #{map-get($colours, _warning)};

  // primary
  --bp_primary: #{map-get($colours, _01_01)};
  --bp_primary-h: #{map-get($colours, _01_02)};
  --bp_primary-c: #{map-get($colours, _01_03)};

  // secondary
  --bp_secondary: #{map-get($colours, _02_01)};
  --bp_secondary-h: #{map-get($colours, _02_02)};
  --bp_secondary-c: #{map-get($colours, _02_03)};

  // tertiary
  --bp_tertiary: #{map-get($colours, _03_01)};
}
